:root {
    --border: #003366;
    --periwinkle_blue: #ACC4FF;
    --soft-sky-blue: #B6CBFD;
    --alice-blue: #CBDCFE;
    --cloud-blue: #E1EBFC;
    --ghost-white: #EDF3FC;

    --general-font: sans-serif;
}