header {
    width: 100vw;
    height: 60px;
    background-color: var(--periwinkle_blue);
    box-shadow: 1px 1px black;
}

nav {
    width: 100vw;
    height: 40px;
    background-color: var(--soft-sky-blue);
}

main {
    width: 100vw;
    height: calc(100vh - 200px);
    background-color: var(--ghost-white);
}

section {
    width: 100%;
    height: 100%;

    background-color: var(--ghost-white);

    border-radius: 5px;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: var(--periwinkle_blue);
}