/*
This document is resposible for holding all base configuration for the Website pages, specific configs for page elements should be held in their respective documents
*/

/*

Section for Header Configuration
Modifies just the base header that is used accross all pages, does not include customisation for specific pages

*/

.base_header {
    width: 100%;
    height: 10%;
    min-height: 50px;
    max-height: 70px;
    background-color: var(--base_colour);
    border: 0px 1px solid var(--deep_forest);
    display: flex;
    align-items: center;
}

/*Logo and Website Name Subsection*/

.a_header {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    height: 100%;
    display: inline;
}

.h1_header {
    color: var(--ghost_white);
    text-indent: 10px;
    font-size: max(30px, 2vw);
    display: inline;
}

/*Home Button Subsection*/

.a_home {
    text-decoration: none;
    color: var(--ghost_white);
    width: 6%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: max(16px, 1vw);
}

.a_home:hover {
    border: 1px solid var(--ghost_white);
}

/*

Section for Nav Configuration
Modifies just the base Nav that is used accross all pages, does not include customisation for specific pages

*/

.base_nav {
    width: 100%;
    height: 8%;
    min-height: 40px;
    max-height: 60px;
    background-color: var(--soft_sage);
    border: 1px solid var(--deep_forest);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul_nav {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.li_nav {
    height: 100%;
    padding: 0px 5px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: max(16px, 1vw);
}

.a_nav {
    text-decoration: none;
    color: var(--ghost_white);
}

.a_nav:hover {
    outline: 1px solid var(--ghost_white);
    outline-offset: -1px;
}

/*Nav Dropdown Menu Subsection*/

.dropbtn {
    height: 100%;
    width: 100%;
    color: var(--ghost_white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}

.dropdown {
    height: 100%;
    width: 5%;
    position: relative;
    list-style-type: none;
}

.dropdown:hover .dropdown_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown_content {
    background-color: var(--soft_sage);
    border: 1px solid var(--deep_forest);
    display: none;
    width: 150px;
    height: fit-content;
    z-index: 1;
    position: absolute;
}

.a_dropdown {
    text-decoration: none;
    color: var(--ghost_white);
}

.li_dropdown {
    height: 38px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.li_dropdown:hover {
    outline: 1px solid var(--ghost_white);
    outline-offset: -1px;
}

.a_home_nav {
    text-decoration: none;
    color: var(--ghost_white);
    width: 6%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: max(16px, 1vw);
}

.a_home_nav:hover {
    border: 1px solid var(--ghost_white);
}

/*

Section for Main Configuration
Modifies just the base Main that is used accross all pages, does not include customisation for specific pages

*/

.base_main {
    width: 100%;
    height: fit-content;
    background-color: var(--ghost_white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main p {
    margin: 10px 0px;
    font-size: max(16px, 1vw);
}

main h1 {
    color: var(--pine_night);
    margin: 25px 0px 0px 0px;
    font-size: max(25px, 1.3vw);
    font-weight: bold;
}

main ul {
    margin: 10px 0px 0px 20px;
}

main li {
    font-size: max(16px, 1vw);
    margin-top: 2px;
}

/*

Section for Footer Configuration
Modifies just the base Footer that is used accross all pages, does not include customisation for specific pages

*/

.base_footer {
    width: 100%;
    height: 35%;
    min-height: fit-content;
    max-height: 300px;
    background-color: var(--base_colour);
    border: 1px solid var(--deep_forest);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 10px;
}

.ul_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.li_footer {
    list-style-type: none;
    color: var(--ghost_white);
    padding-top: 5px;
    font-size: max(16px, 1vw);
}

.li_footer_title {
    margin-bottom: 10px;
    font-size: max(25px, 1.5vw);
    font-weight: bold;
}

.a_footer {
    text-decoration: none;
}

.a_footer:hover {
    text-decoration: underline;
}