header {
    width: 100vw;
    height: 60px;
    background-color: var(--base_colour);
    border: 0px 1px solid var(--deep_forest);
    display: flex;
    align-items: center;
}

.div_header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.a_header {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.h1_header {
    color: var(--ghost-white);
    text-indent: 10px;
    font-size: 45px;
    display: inline;
}

nav {
    width: 100vw;
    height: 40px;
    background-color: var(--soft_sage);
    border: 1px solid var(--deep_forest); 
}

main {
    width: 100vw;
    height: calc(100vh - 200px);
    background-color: var(--ghost-white);
}

section {
    width: 100%;
    height: 100%;

    background-color: var(--ghost-white);

    border-radius: 5px;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: var(--base_colour);
    border: 1px solid var(--deep_forest);
}

.logo {
    width: 60px;
    display: inline;
}