* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--general-font);
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--ghost_white);
}